@use "../../Variables";

.project-layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
    .project-body {
        display: flex;
        flex-direction: column;
        // padding: 5% 5%;
        // border: 0.5px solid Variables.$highlight;
        border-radius: 15px;
        background-color: transparentize($color: Variables.$primary, $amount: 0);
        &:hover {
            background-color: transparentize($color: Variables.$primary, $amount: 0);
        }
        .project-info {
            flex: 3;
            font-weight: 500;
            padding: 5%;
            .project-type {
                color: Variables.$grayish;
                font-size: 1rem;
            }
            .project-name {
                font-size: 1.5rem;
            }
            .project-description {
                color: Variables.$grayish;
                margin: 1rem 1rem 1rem 1rem;
                font-size: 1rem;
            }
            .project-links {
                font-size: 1.5rem;
                margin: 1rem;
                a {
                    margin-right: 0.7rem;
                    color: white;
                }
            }
            .project-stacks {
                margin-left: 1rem;
                display: flex;
                gap: 0.5rem;
                color: Variables.$highlight;
            }
        }
        .project-image {
            flex: 2;
            img {
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
        }
    }
}