@use "../../Variables";

.header {
    // display: flex;

    .left {
        margin-top: 10%;
        position: absolute;
        left: 7rem;
        width: 40%;
        z-index: 6;
        h4 {
            color: Variables.$highlight;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        .header-name {
            font-size: 3rem;
            font-weight: 500;
            margin: 0px;
        }
        .header-about {
            font-size: 1.75rem;
            font-weight: 300;
            margin-top: 0px;
            color: Variables.$light-white;
        }
        .header-quick-nav {
            display: flex;
            gap: 20px;
            .quick-nav-item {
                font-size: 1.5rem;
                color: white;
                &:hover {
                    @include Variables.glow;
                }
            }
        }
    }

    .right {
        position: absolute;
        right: 0;
        width: 50%;
        height: 80%;
        z-index: 5;
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: white;
        }
    }
}