.header {
    // display: flex;

    .left {
        margin-top: 10%;
        position: absolute;
        left: 7rem;
        width: 40%;
        z-index: 6;
    }

    .right {
        position: absolute;
        right: 0;
        width: 50%;
        height: 80%;
        z-index: 5;
    }
}