@use "../../Variables";

// desktop view
.desktop-view{
    display: flex;
    padding: 0px 25px;

    .home {
        margin-right: auto !important;
    }

    .nav-element {
        margin: 20px;
        text-decoration: none;
        color: #cccccc;
        font-size: 1.1rem;

        &:hover {
            color: #fff;
        }
    }
}

.active {
    color: Variables.$highlight !important;
}

// mobile view
@media all and (max-width:425px) {
    .desktop-view{
        display: none;
    }
}

@media all and (min-width: 426px) {
    .mobile-view{
        display: none;
    }
}