@use "../../Variables";

// desktop view
.desktop-view{
    display: flex;
    padding: 0px 7%;


    .nav-element {
        margin: 20px;
        text-decoration: none;
        // color: Variables.$light-white;
        color: white;
        font-family: 'Sofia Sans Semi Condensed', sans-serif;
        font-size: 1.5rem;
        font-weight: 800;

        // &:hover {
        //     color: #fff;
        // }
    }

    .home {
        margin-right: auto !important;
        // color: linear-gradient(90deg, rgba(255,15,123,1) 0%, rgba(248,155,41,1) 100%);
        background: linear-gradient(90deg, #ff8282 0%, #f0af7a 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    // .active {
    //     color: Variables.$highlight !important;
    //     @include Variables.glow;
    // }
}


// mobile view
.mobile-view{
    border-radius: 30px;
    width: max-content;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 1.5rem;
    background-color: transparentize($color: Variables.$dark-white, $amount: 0.6);
    backdrop-filter: blur(15px);
    padding: 3px 30px 0 30px;

    .nav-icon {
        color: Variables.$light-white;
        font-size: 1.25em;
        padding: 10px;
        border-radius: 50%;
        margin: 5px;
    }

    a {
        -webkit-tap-highlight-color: transparent;
    }

    .active {
        .nav-icon {
            color: Variables.$highlight;
            background-color: transparentize($color: lighten($color: Variables.$highlight, $amount: 30%), $amount: 0.8);
        }
    }
}

// Switching Views
@media all and (max-width:525px) {
    .desktop-view{
        display: none;
    }
}

@media all and (min-width: 526px) {
    .mobile-view{
        display: none;
    } 
}